/* ShoeList.css */

.shoe-list {
    max-width: 1200px;
    margin: 0 auto;

}

.thea {
    text-decoration: none;
    z-index: 10;
    color: black;
}

.tieude {
    margin-top: 20px;
    text-align: center;
}

.shoe-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#CLS-tensp {
    font-weight: normal;
    font-size: 14px;
    z-index: 5;

}

.shoe-list li {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: calc((100% - 50px) / 6);
    transition: transform 0.3s ease;
    /* Thêm hiệu ứng chuyển động */
}

.shoe-list li:hover {
    transform: scale(1.05);
    /* Phóng to khi hover */
}

.list-shoe_h2 {
    text-align: center;
}

.shoe-list img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    width: 80%;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    /* Thêm hiệu ứng chuyển động */
}

.shoe-list li:hover img {
    transform: scale(1.1);
    cursor: pointer;
    /* Phóng to hình ảnh khi hover */
}

.shoe-list h3 {
    margin: 10px 0;
    font-size: 20px;
}

.shoe-list p {
    font-weight: bold;
    color: #333;
    font-size: 15px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    .shoe-list li {
        width: 100%;
    }

    .shoe-list img {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .shoe-list li {
        width: 48%;
    }
}