* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #container {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
} */
.container-login {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container1 {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 1168px;
  max-width: 100%;
  min-height: 600px;
  overflow: hidden;
  padding: 30px;
}

.container1 p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container1 span {
  font-size: 17px;
}

.container1 a {
  /* color: #333; */
  font-size: 17px;
  text-decoration: none;
  margin: 45px 0 10px;
}

.container1 .btn-accept {
  color: black;
  font-size: 14.5px;
  padding: 10px 45px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 50px;
  cursor: pointer;

  transition: all 0.6s ease-in-out;
}

.container1 button.hidden {
  color: white;
  font-size: 14px;
  padding: 10px 45px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;

  transition: all 0.6s ease-in-out;
}

.container1 .btn-accept:hover {
  background-color: #512da8;
  color: white;
}

.container1 button.hidden {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.6s ease-in-out;
}

.container1 button.hidden:hover {
  color: black;
  background-color: white;
}

.container1 form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container1 input {
  /* background-color: #eee; */
  border: none;
  margin: 8px 0;
  padding: 13px 15px;
  font-size: 13px;

  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container1.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container1.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  color: black;
  margin: 40px 0;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  transition: all 0.6s ease-in-out;
}

.social-icons a i {
  font-size: 25px;
}

.social-icons a:hover {
  border: 1px solid #bbb;
  background-color: #512da8;
  color: white;
}

.toggle-container {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 0 100px 100px 0;
  z-index: 1000;
}

.container1.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 100px 0 0 100px;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container1.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
  transition: all 0.6 ease-in-out;
}

.toggle-left p {
  font-size: 16px;
}

.container1.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-right p {
  font-size: 16px;
}

.container1.active .toggle-right {
  transform: translateX(200%);
}

.couple-text {
  width: 100%;
  position: relative;
  margin: 50px;
  /* border: 1px solid #ccc; */
}

.couple-text .text-input {
  position: absolute;
  color: white;
  /* z-index: 1111; */
  border: 1px solid black;
  height: 60px;
  font-size: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.couple-text .labelline {
  position: absolute;
  font-size: 1.3em;
  margin: 22px 16px;
  transition: all 0.2s ease;
  background-color: white;
}

.couple-text .text-input:focus {
  color: #512da8;
  border: 1px solid #512da8;
  border-radius: 8px;
}

.couple-text .text-input:valid {
  color: #512da8;
  border: 1px solid #512da8;
  border-radius: 8px;
}

.couple-text .text-input:focus+.labelline {
  color: #512da8;
  height: 30px;
  transform: translate(4px, -29px);
  z-index: 1222;
  font-size: 15px;
  padding: 0 10px;
  /* line-height: 30px; */
}

.couple-text .text-input:valid+.labelline {
  color: #512da8;
  height: 30px;
  transform: translate(4px, -28px);
  z-index: 1222;
  font-size: 15px;
  padding: 0 10px;
  /* line-height: 20px; */
}

.tag {
  /* border-radius: 3px 0 0 3px; */
  border: none;
  color: grey;
  display: inline-block;
  height: 26px;
  /* line-height: 26px; */
  padding: 0 20px 0 25px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}