.containerF {
    background-color: black;
    width: 100%;
    height: 370px;
    margin-bottom: 20px;
    margin: 0;

}

.container-footer {
    width: 100%;
    height: 250px;
    display: flex;
    border: 1px solid white;

}



.tieude_h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    height: auto;
    z-index: 20;
    padding-top: 40px;

}

.foolter {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 200px;
}

.thea {
    text-decoration: none;
    color: white;
}

/* .footer-hr {
    width: 1px;
    height: 99%;
    border: 1px solid white;


    margin-right: 3%;
} */


.logo {
    /* width: 90%; */
    border-radius: 50%;
    /* height: 100%; */
    text-decoration: none;

    font-size: 20px;
    font-weight: bold;

    font-family: Agbalumo;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    filter: drop-shadow(30px 30px 30px rgb(255, 255, 255) 1.5) brightness(220%) saturate(150%) blur(5px);
}

.logo:hover {
    color: rgb(255, 0, 0);
    filter: drop-shadow(10px 10px 10px rgba(220, 0, 0, 0.7) 2) brightness(120%) saturate(150%) blur(5px);
}

.footer-logo {
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.footer-thongtinlienhe {
    width: 30%;
    color: white;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}

.footer-chinhsach {
    width: 30%;
    color: white;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}

.footer-hotro {
    width: 30%;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: white;

}

.footer-thongtin2 {
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;

    font-family: "Roboto", sans-serif;
    color: white;
}

.footer-mangxahoi {
    color: white;
    width: 30%;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}



.thea:hover {
    color: red;
    filter: drop-shadow(10px 10px 10px rgba(255, 0, 0, 1)) brightness(150%) saturate(150%) blur(0px);
}


@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
        /* Màu bắt đầu từ màu gốc */
    }

    100% {
        filter: hue-rotate(270deg);
        /* Chuyển đến một màu tối hơn */
    }
}