#navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Thêm box-shadow */
}


.nav {
    width: 100%;
    height: auto;
    margin-left: -1%;
}

.isOpen {
    display: flex;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;

}

.image-navbar {
    text-decoration: none;
    border-radius: 50%;
    filter: brightness(105%);
    margin-left: 5%;
    font-family: Agbalumo;
    font-weight: bold;
    font-size: 20px;
    color: black;

    /* animation: hueRotate 20s alternate infinite; */
}

.image-navbar:hover {
    color: black;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)) brightness(110%) saturate(150%) blur(0px);
}

.nav-dangnhap {
    margin-left: 50px;

}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-avatar {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-avatarUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.username {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
        /* Màu bắt đầu từ màu gốc */
    }

    100% {
        filter: hue-rotate(270deg);
        /* Chuyển đến một màu tối hơn */
    }
}

.ml-autoo {
    width: 80%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-left: 13%; */
}

.nav-item:hover {
    filter: brightness(10%);
}

.cart-div>a {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(116, 112, 112);
    width: 10%;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.cart-divv {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 15%; */
    font-size: 20px;
}





.image-div {
    white-space: nowrap;
}

.font-awe {
    color: rgb(26, 25, 25);
}

.nav-item4 {}

/* Dropdown styles for small screens */
@media (max-width: 768px) {
    .image-navbar {
        display: none;
    }

    .ml-auto {
        font-size: 13px;
        width: 100%;
        height: auto;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-right: 15%;
    }

    .nav-item {
        width: auto;

    }

    a {
        width: 100%;
    }

    .nav-item2 {}

    #navbar {
        background-color: aliceblue;
    }

    .cart-div {
        margin-left: -10%;
        margin-right: 10%;
        font-size: 15px;
        margin-top: 2px;
    }
}




.user-info {
    position: relative;
}

.nav-avatar {
    cursor: pointer;
}

.nav-avatarUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    /* Hiển thị dropdown phía dưới avatar */
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 1000;
    /* Tăng z-index để đảm bảo hiển thị trên các phần tử khác */
    /* display: none; */
    /* Mặc định ẩn dropdown */
    display: block;
}

.user-info:hover .dropdown-menu {
    display: block;
    /* Hiển thị dropdown khi hover vào phần tử chứa avatar */
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.dropdown-item:hover {
    background: #f0f0f0;
}