.container {
    width: 100%;
    height: 500px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.tag-giamgia {
    position: absolute;
    background-color: #fa5130;
    padding: 5px 5px;
    color: rgb(255, 252, 252);
    font-size: 13px;
    border-radius: 14px;
    z-index: 10;
    font-weight: bold;
}

.product-info {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thongtinsp {
    opacity: 0.7;
}

.container-thongtinsanpham {
    margin-top: 30px;

}

.form {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;

}

.h3 {
    font-size: 30px;
    z-index: 40;
    font-family: "Roboto Condensed";
    color: #555;
    font-weight: bold;

}

.product-price {
    color: red;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: bold;
}

.product-image {
    width: 50%;
    height: 500px;
    position: relative;
}

.product-image_banner {
    position: absolute;
    background-color: #e74c3c;
    /* Adjust color as needed */
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.product-priceseal {
    color: black;
    opacity: 0.5;
    text-decoration: line-through;
}

.product-h3 {
    width: 40%;
    height: 400px;

}

.product-image {
    width: 50%;
    height: 400%;
}

.image {
    width: 400px;
    height: 500px;
    position: absolute;
}

.purchase-button {
    width: 50%;
    height: 40px;
    border-radius: 10px;
}

.size {
    display: wrap;
    display: flex;
    width: 100%;
    height: 60px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: bold;

}

.size div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0.5px solid black;
    margin-left: 15px;
    margin-right: 15px;

    font-size: 14px;

}






.size div p {
    margin-top: 16px;
}

.size-p {
    margin-right: 20px;

}

.con-hang {
    color: #77a464;
    font-weight: bold;
    margin-left: 2px;
}

.product-h3_muahang {
    width: 100%;
    height: auto;
    display: flex;

}

.counter-container {
    width: 25%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#counter {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

}

.span1 {
    width: 100px;
    height: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.span2 {
    background-color: black;
    color: white;
    height: 100%;
    width: 100px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.span2>p {
    height: 20%;
}

.purchase-button {
    background-color: white;
    color: black;
    width: 50%;

}

.purchase-button:hover {
    background-color: black;
    color: white;
}

/* /--------------- */
.size-option {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    display: inline-block;
}

.size-option.selected {
    background-color: black;
}

.size-text {
    color: black;
    /* Màu chữ mặc định */
}

.size-text.selected-text {
    color: white;
    /* Màu chữ khi size được chọn */
}