<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <title>HomePage</title>
</head>
<style>

</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Sản Phẩm</a>
        <!-- <a href="/khachhang">Thông Tin Khách Hàng</a> -->
        <a href="/All-donhang">Tất Cả Đơn Hàng</a>
    </div>

    </div>

</body>


</html>